<%- include('../partials/header') %>

<body>
    <h1>Add Drill!</h1>
    <a href="/drills/">&#60;&#60; Back</a><br>

    <form id="new-form" action="/drills/" method="POST">
        <label>Name:</label>
        <input type="text" name="name"> <br>

        <label>Category</label>
        <select name="category">
            <option value="Conditioning">Conditioning</option>
            <option value="Dribbling">Dribbling</option>
            <option value="Goalkeeping">Goalkeeping</option>
            <option value="Passing">Passing</option>
            <option value="Shooting">Shooting</option>
        </select> <br>

        <label>Minutes:</label>
        <input type="number" name="minutes"> <br>

        <label>Description:</label>
        <textarea name="description" id="description" cols="15" rows="2"></textarea> <br>
        
        <input type="submit" value="Add">
      </form>
</body>
</html>