<%- include('./partials/header') %>

<body>
    <h1>Welcome to Practice Planner!</h1>
    <h4>Keep track of your practices.</h4>
    <div id="landing-background">
        <img id="soccer-ball-background" src="https://i.imgur.com/pOjcnpr.jpg" alt="soccer-ball-background">
    </div>
</body>
</html>