<%- include('./partials/header') %>

<body>
    <h1>Welcome to Practice Planner!</h1>
    <h3>(For Youth Soccer)</h3>
    <h3>Schedule Practices</h3>
    <h3>Create Custom Drills</h3>
    <h3>Edit Drills</h3>
</body>
</html>