* {
  box-sizing: border-box;
  color: #424748;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #2cc0e5;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
  text-transform: uppercase;
}

nav{
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .25);
}

nav > a {
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
}

nav > a:hover{
  opacity: 0.5;
}

nav > img, .user-profile-img {
  width: 34px;
  object-fit: contain;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

article {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(171, 171, 171);
  padding: 16px;
  border-radius: 8px;
  background-color: #eff6f4;
  gap: 1em;
  margin: 1em;
  padding: 2rem;
}

article label {
  border: none;
  margin-bottom: 4px;
}

article form {
  width: 100%;
  border: none;
}

article form input[type='submit'] {
  background-color: #e52c5d;
  padding: 8px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
}

article #edit-btn{
  background-color: #2cc0e5;
  padding: 8px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  font-size: small;
  margin-left: 1.25em;
  margin-right: 1.25em;
}

th {
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#soccer-ball-background {
  max-width: 100%;
  max-height: 100%;
  filter: grayscale(50%);
}

.login img {
  height: 30px;
}

/* .button {
  margin-top: 25px;
  border-style: solid;
  width: 34px;
  margin-left: 200px;
  padding: 5px 5px 5px 5px;
}

.button:hover{
  background-color: aqua;
} */

select {
  width: 100%;
  padding: 4px 5px;
  border-radius: 4px;
}

form{
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(171, 171, 171);
  padding: 16px;
  border-radius: 8px;
  background-color: #eff6f4;
}

form *{
  width: 100%;
  border: 1px solid rgb(171, 171, 171);
}

form label {
  border: none;
  margin-bottom: 4px;
}

form input[type='submit'] {
  background-color: #2cc0e5;
  padding: 8px;
  font-weight: bold;
  color: white;
  border-radius: 8px;
}