* {
  box-sizing: border-box;
  color: #424748;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas:
    "nav"
    "main";
}

body > nav {
  grid-area: nav;
  background-color: #B8C0C2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  border-color: #424748;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

nav > img, .header-link {
  width: 34px;
  object-fit: contain;
  margin-right: auto;
  
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

.login img {
  height: 30px;
}

article {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 1em;
  padding: 2rem;
  background-color: greenyellow;
  border-style: solid;
}

div > img {
  width: 34px;
  border-radius: 50%;
}